@*@model IEnumerable<Traditeo.ViewModel.PurchaseManagement.Purchases>*@

@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>


@Html.Action("ShowView")
